/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c;
  color: #f4f4f9;
}

h1, h2, h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #ff6347;
}

/* Botões */
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ff6347;
}

html {
  scroll-behavior: smooth;
}
